body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #121212;
  color: #fff;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  padding: 16px;
  background-color: #121212;
  color: #fff;
  border-radius: 8px;
  max-width: 600px;
  margin: auto;
}

h5,
h6 {
  color: #fff;
}

.button {
  background-color: #6200ea;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 16px;
}

.button:hover {
  background-color: #3700b3;
}

.input {
  width: 100%;
  margin-bottom: 16px;
  background-color: #1e1e1e;
  border-radius: 4px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e1e;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 12px;
  cursor: pointer;
}

.list-item:hover {
  background-color: #333;
}

.list-item-text {
  flex-grow: 1;
}

.list-item-icon {
  margin-left: 8px;
}
